@import '../../styles/variables.scss';

#HeaderComponent {
    header {
        #SlideShowContainer {
            position: relative;
            width: 100%;
            max-height: 200px;
            overflow: hidden;

            #SlideshowOverlay {
                position: absolute;
                top: 0;
                width: 100%;

                #GlobalHeader {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1000;
                    width: 100%;
                    margin: 0;
                    padding: 0;

                    img {
                        padding: 2rem 1.5rem 0 1.5rem;
                    }

                    #NavContainer {
                        margin: auto 0;
                        padding: 0 1.5rem;
                    }
                }
            }
        }

        #ProductNav {
            width: 100%;
            background-color: $color-dark-grey;

            ul {
                width: 90%;
                list-style: none;
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                padding: 0;
                margin: 0 auto;

                li {
                    width: 100%;
                    padding: 1.5rem 0;
                    font-size: 1.8rem;
                    color: $color-light-grey;
                    text-align: center;
                    transition: color 0.3s, font-size 0.3s;
                    cursor: pointer;
                    text-transform: uppercase;
                    position: relative;

                    &:hover {
                        color: $color-baked-yellow;
                    }

                    .nav-arrow {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -.5rem;
                        width: 50px;
                        height: 25px;
                        pointer-events: none;
                        z-index: 2;
                        transition: 300ms ease-in-out;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    #HeaderComponent {
        header {
            #ProductNav {
                ul {
                    flex-direction: column;
                    align-items: stretch;
                    width: 95%;
                }
                li {
                    font-size: 1.5vw;
                    padding: 1.3rem 0.7rem;
                    text-align: left;
                    border-bottom: 1px solid $color-dark-grey;
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #HeaderComponent {
        header {
            #ProductNav {
                ul {
                    flex-direction: column;
                    align-items: stretch;
                    width: 95%;
                }
                li {
                    font-size: 4vw;
                    padding: 1.1rem 0.5rem 0.8rem 0.5rem;
                    text-align: left;
                    border-bottom: 1px solid $color-dark-grey;
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    #HeaderComponent {
        header {
            #ProductNav {
                ul {
                    flex-direction: column;
                    align-items: stretch;
                    width: 95%;
                }
                li {
                    font-size: 1.5rem;
                    padding: 1.1rem 0.5rem 0.8rem 0.5rem;
                    text-align: left;
                    border-bottom: 1px solid $color-dark-grey;
                    margin: 0;
                }
            }
        }
    }
}